@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    user-select: none;
}

html {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/pizza4.jpg');
}


a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: red;
    height: 12vh;
}



.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 25px;
    color: white;
}

.nav-list li img {
    height: 8vh;
}

.nav-list li img:hover {
    cursor: pointer;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}


.mobile-menu .line1,
.line2,
.line3 {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;

}


.logo_pizzaria {
    font-size: 20px;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    margin-right: 100px;
    font-weight: 600;
    font-style: italic;
    animation: mudarCor 3s infinite;
}

.logo_pizzaria img {
    animation: floatUpDown 3s ease-in-out infinite alternate;
    margin-right: 10px;


}

.Inicio,
.Cardapio,
.Sobre-li {
    padding: 20px;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mudarCor {
    0% {
        color: red;
    }

    50% {
        color: rgb(255, 187, 0);
    }

    100% {
        color: orangered;
    }
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}


.Inicio:hover,
.Cardapio:hover,
.Sobre-li:hover {
    border-bottom: 4px solid #ffc506;
    color: #ffc506;
}

.Caixa_Inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px 0 auto;
    padding: 40px 8%;
}

.Caixa_Inicial span {
    color: white;
    background-color: orangered;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
}

.Caixa_Inicial h1 {
    font-size: 50px;
    color: white;
    letter-spacing: 2px;
    z-index: 1;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-weight: 600;

}

.Caixa_Inicial p {
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 50px;
    z-index: 1;

}

.Caixa_Inicial h2 {
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 20px;
    z-index: 1;
}



h3,
h4 {
    font-size: 35px;
    color: rgb(71, 36, 36);
    font-weight: 600;
    text-align: center;
    letter-spacing: 4px;
    background-color: #fcd8a8;

}





@media all and (max-width: 767px) {

    .nav-list {
        top: 8vh;
        width: 85vw;
        height: 92vh;
        display: flex;
        /* Make it a flex container */
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 2;
        position: absolute;
        background-color: red;

    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }



    .mobile-menu {
        display: block;

    }



    .logo_pizzaria img {
        animation: floatUpDown 3s ease-in-out infinite alternate;

    }




    .Caixa_Inicial {
        padding: 18px 8%;
        width: 100%;


    }

    .Caixa_Inicial h1 {
        width: 70%;
        font-size: 30px;
        text-align: center;
    }

    .Caixa_Inicial p {
        width: 70%;
        font-size: 17px;
        text-align: center;

    }

    .Caixa_Cardapio,
    .Caixa_Pizza_Doce {
        width: 100%;
        overflow-y: auto;
    }

    h2,
    h3 {
        font-size: 25px;
    }

    #Caixa-Pedido {
        flex-direction: column-reverse;
        align-items: center;
        display: flex;
        width: 100%;
    }

    #Itens-Carrinho {
        flex-direction: column;
        display: flex;
    }



    .Caixa_Sobre {
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .Caixa_Sobre h1 {
        font-size: 20px;
    }

    .Caixa_Sobre p {
        font-size: 12px;
        width: 90%;
    }

    .Caixa_Sobre img {
        max-width: 30px;
        padding: 10px 4%;
    }

    .footer {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .footer h5 {
        font-size: 1.1rem;
        width: 90%;

    }

    .footer span {
        font-size: 1.1rem;

    }

    .footer svg {
        width: 22px;
    }

    .clear {
        clear: both;
    }
}

.nav-list.active {
    transform: translateX(0);
    background: #23232e;
}


@media all and (min-width: 768px) and (max-width: 992px) {
    nav-list {
        width: 100%;

    }




    .Caixa_Cardapio,
    .Caixa_Pizza_Doce {
        width: 100%;
        flex-direction: colum;
        overflow-x: auto;


    }







    .Caixa_Inicial,
    .Caixa_Sobre {
        width: 100%;
    }

    section {
        width: 100%;
    }

    .Caixa_Sobre p {
        width: 80%;
    }

    .Caixa_Sobre img {
        width: 50%;
    }

    .Caixa_Inicial {
        width: 100%;
    }

    .Caixa_Inicial h1 {
        font-size: 30px;
    }

    .Caixa_Inicial p {
        font-size: 25px;
    }

    .footer h5,
    .footer span {
        font-size: 1.6rem;
    }

}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #5b5b5b;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #1d1d1d;
    border-top-right-radius: 5px;
}


section {
    scroll-snap-align: start;
    position: sticky;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
}



.Caixa_Cardapio,
.Caixa_Pizza_Doce {
    background-color: #fcd8a8;
    display: flex;
    justify-content: space-around;
    height: 100%;
    scroll-snap-type: y mandatory;
    flex-wrap: wrap;
}

.Pizzas,
.Pizzas_Doces {
    background-color: #fd7b44;
    border-radius: 10px;
    height: 290px;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 18px;
    margin-right: 5px;
    min-width: 200px;
    flex: 0 0 auto;
    border: 1px solid rgb(255, 200, 127);

}

.Pizzas_Doces h1,
.Pizzas h1 {
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 1px;
    font-style: italic;
    letter-spacing: 1px;


}

.Pizzas_Doces p,
.Pizzas p {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;


}

.Pizzas_Doces img,
.Pizzas img {
    height: 120px;
    margin-top: 10px;
}

.Pizzas_Doces button,
.Pizzas button {
    background-color: #ddb352;
    color: #202020;
    border-radius: 7px;
    padding: 10px;
}

.Pizzas_Doces button:hover,
.Pizzas button:hover {
    cursor: pointer;
    background-color: #202020;
    color:  #ddb352;

}


.Caixa_opções {
    justify-content: space-around;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    background-color: #302525;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Caixa_opções li {
    color: #ffffff;
    padding: 5px;
    letter-spacing: 2px;
    font-style: italic;
}

.Caixa_opções li:hover {
    color: rgb(121, 91, 46);
    cursor: pointer;
    transition: 1 s ease;
}

.Caixa_Sobre {
    display: flex;
    justify-content: space-around;
    background-color: #302525;
    align-items: center;
    scroll-snap-type: y mandatory;


}
.Sobre{
display: flex;
flex-direction: column;
padding: 10px 4%;
}

.Sobre h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 2px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.Sobre p {
    letter-spacing: 2px;
    color: white;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.Caixa_Sobre img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-right: 10px;
    height: 400px;
    padding-block-end: 5px;


}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1a1616;
    align-items: center;
}

.footer h5 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #f1f1f1;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.footer svg {
    color: #eedfdf;
    margin-left: 20px;
}

.footer span {
    margin-left: 10px;
    color: #eedfdf;
}

#Caixa-Pedido {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    max-width: 470px;
    height: 330px;
    background-color: #ffffff;
    margin: auto;
    position: fixed;
    /* Posiciona o contêiner no meio da tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    /* Inicialmente oculto */
    border-radius: 7px;
}

#Itens-Carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Caixa-Pedido #Itens-Carrinho .item h1 {
    color: red;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 37px;
    padding: 0 3%;


}

#Itens-Carrinho img {
    height: 100px;
    width: 90px;
}

#Caixa-Pedido button {
    background-color: #ffc506;
    color: #181717;
    border-radius: 7px;
    padding: 10px;
    margin-top: 15px;
    width: 70%;
    margin-left: 50px;
}

#Caixa-Pedido button:hover {
    background-color: #1d1d1d;
    color: #ccc;
    cursor: pointer;
    transform: scale(1.00);
    transition: 1s;

}

#Itens-Carrinho option {
    background-color: #111010;
    color: #ffffff;
    font-size: 1.1rem;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 1px;


}

#Itens-Carrinho option:hover {
    cursor: pointer;

}

.itens-Preco-Quantidade {
    display: flex;
    align-items: center;
    justify-content: center;
}

.itens-Preco-Quantidade span {
    color: red;
    font-size: 1.1rem;
    margin-left: 10px
}

.itens-Preco-Quantidade input {
    margin-left: 30px;
    color: #1d1d1d;
    background-color: #d4c9c9;
    border-radius: 7px;
}
